#rightSection {
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: 8;

	#topRightBar {
		flex: 1;
		display: "flex";
		justify-content: "center";
		align-items: "center";
		background-color: black;
		animation: "fadeOut 0.5s forwards";
	}
	#chatSection {
		flex: 8;
		padding: 10px;
		overflow: auto;

		.singleMessageInternal {
			padding: 20px;
			margin: 5px;
			border: solid;
			border-radius: 20px;
		}
	}
	#inputSection {
		flex: 0.5;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(0, 0, 0);
		gap: 10px;

		position: sticky;
		position: -webkit-sticky; /*for Safari */

		input {
			padding: 12px 16px;
			font-size: large;
		}
		button {
			padding: 12px;
			font-size: 18px;
		}
	}
}
