@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans";
	color: white;
}
input {
	outline: none;
}
button {
	cursor: pointer;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.2)),
		url("./assets/bgImage2.jpg");
	background-size: cover;
}
:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	/* color: rgba(255, 255, 255, 0.87); */
	background-color: rgb(8, 8, 8);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}
